{% style %}
  .tech-section {
    background-position: 50%;
    background-size: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0889/2933/7669/files/ezgif-3-cf1d3ba20f.jpg?v=1725866409);
  }

  @media (max-width: 1024px) {
    .tech-section {
      background-size: 200%;
      background-position: center;
    }
  }

  .wrapper-warm {
    background-position: 50%;
    background-size: cover;
    min-height: 400px;
    background-image: url(//columbia.scene7.com/is/image/ColumbiaSportswear2/COL_US_TechHub_LP_InsulationBackground?$aem_jpeg$);
  }

  .scroll-containers {
    justify-content: center;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Optional: Adjustments for better scrolling on smaller devices */
  @media (max-width: 768px) {
    .scroll-container {
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: 1rem; /* Adjust as needed for better scrolling */
    }

    .scroll-containers {
      justify-content: start;
      gap: 1rem;
    }
  }
{% endstyle %}

<section class="container mb-5">
  <div class="row scroll-container align-items-stretch flex-nowrap scroll-containers mb-5">
    <div class="col-4 col-lg-2 bg-danger text-center">
      <a href="#first-section" class="text-decoration-none text-white" target="_self">Go to first</a>
    </div>
    <div class="col-4 col-lg-2 bg-success text-center">sadasd</div>
    <div class="col-4 col-lg-2 bg-primary text-center">asda</div>
    <div class="col-4 col-lg-2 bg-danger text-center">asdasd</div>
  </div>
</section>

<section id="first-section" class="page-width tech-section px-3 pt-4 pb-0 px-md-4 px-lg-5 px-xl-8 text-left">
  <div class="mb-3">
    <div class="fs-1 fw-bold text-center text-white" tabindex="0" role="group">WARM</div>
  </div>
  <div class="mb-5">
    <div class="row justify-content-center gap-1 flex-nowrap scroll-containers scroll-container">
      <div class="col col-lg-1 align-self-center">
        <div class="text">
          <div class="fs-5 text-center fw-bold text-white" tabindex="0" role="group">
            <a href="#wrapper-warm-1" target="_self" class="d-inline-block text-white text-decoration-none">
              INSULATING<br>
              <i class="material-icons">\/</i>
            </a>
          </div>
        </div>
      </div>
      <div class="col col-lg-1 align-self-center">
        <div class="fs-5 text-center fw-bold text-white" tabindex="0" role="group">
          <a href="#wrapper-warm-2" target="_self" class="d-inline-block text-white text-decoration-none">
            REFLECTIVE<br>
            <i class="material-icons">\/</i>
          </a>
        </div>
      </div>
      <div class="col col-lg-1">
        <div class="fs-5 text-center fw-bold text-white" tabindex="0" role="group">
          <a href="#wrapper-warm-3" target="_self" class="d-inline-block text-white text-decoration-none">
            REGULATING<br>
            <i class="material-icons">\/</i>
          </a>
        </div>
      </div>
      <div class="col col-lg-1">
        <div class="fs-5 text-center fw-bold text-white" tabindex="0" role="group">
          <a href="#wrapper-warm-3" target="_self" class="d-inline-block text-white text-decoration-none">
            REGULATING<br>
            <i class="material-icons">\/</i>
          </a>
        </div>
      </div>
      <div class="col col-lg-1">
        <div class="fs-5 text-center fw-bold text-white" tabindex="0" role="group">
          <a href="#wrapper-warm-3" target="_self" class="d-inline-block text-white text-decoration-none">
            REGULATING<br>
            <i class="material-icons">\/</i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="mb-4 px-0 pt-0 pb-4 px-lg-4 pt-lg-4 bg-white text-left">
      <div class="wrapper">
        <div id="wrapper-warm-1" class="wrapper-warm px-3 py-4 text-center">
          <div class="px-3 py-4 text-center">
            <div>
              <a href="https://www.columbia.com/tech-insulating/" target="_self">
                <img
                  class="img-fluid d-block mx-auto"
                  src="//columbia.scene7.com/is/image/ColumbiaSportswear2/COL_US_TechHub_LP_InsulationTechIllustration?$aem_png$"
                  alt="Illustration of insulation tech."
                  width="247"
                  height="240"
                >
              </a>
            </div>

            <div class="row justify-content-center">
              <div class="col-12 col-lg-6 align-self-start">
                <div class="fs-2 fw-bold text-white" tabindex="0" role="group">INSULATING</div>

                <div class="fs-6 text-center text-white" tabindex="0" role="group">
                  From synthetic insulation to responsibly sourced down with unique baffling, our innovative designs
                  keep you warmer.
                </div>

                <div>
                  <div class="row justify-content-center">
                    <div class="col-auto">
                      <a href="https://www.columbia.com/tech-insulating/" target="_self" class="bg-white btn">
                        Explore Insulating Tech
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-6 col-md-4 col-lg-2">
            <a
              class="d-flex flex-column align-items-center"
              href="https://www.columbia.com/c/technology-doublewall/"
              target="_self"
            >
              <img
                src="//columbia.scene7.com/is/image/ColumbiaSportswear2/P2_10-01_41711_C_NA_TechHub_DoubleWall_Update_Badge?$aem_png$"
                alt="Double Wall logo"
                width="80"
                height="79"
              >
              <div class="fs-4 py-2">DOUBLE WALL™</div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a
              class="d-flex flex-column align-items-center"
              href="https://www.columbia.com/c/turbodown-down-jackets-vests/"
              target="_self"
            >
              <img
                src="//columbia.scene7.com/is/image/ColumbiaSportswear2/TechHub_TechLogos_Color_0029_TechHub_TD?$aem_png$"
                alt="Turbo Down logo"
                width="80"
                height="79"
              >
              <div class="fs-4 py-2">TURBODOWN™</div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a
              class="d-flex flex-column align-items-center"
              href="https://www.columbia.com/c/technology-thermarator/"
              target="_self"
            >
              <img
                src="//columbia.scene7.com/is/image/ColumbiaSportswear2/TechHub_TechLogos_Color_0009_TechHub_Thermarator?$aem_png$"
                alt="Thermarator logo"
                width="80"
                height="79"
              >
              <div class="fs-4 py-2">THERMARATOR™</div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a
              class="d-flex flex-column align-items-center justify-content-end"
              href="https://www.columbia.com/c/technology-omniheatarctic/"
              target="_self"
            >
              <img
                src="//columbia.scene7.com/is/image/ColumbiaSportswear2/8-01_48635_C_NA_F24_TechHubUpdate_Subpage_Badge_02?$aem_png$"
                alt="Omni-Heat Arctic"
                width="80"
                height="79"
              >
              <div class="fs-4 py-2">OMNI-HEAT™ ARCTIC</div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4 px-0 pt-0 pb-4 px-lg-4 pt-lg-4 bg-white text-left">
      <div class="wrapper">
        <div id="wrapper-warm-2" class="wrapper-warm px-3 py-4 text-center">
          <div class="px-3 py-4 text-center">
            <div>
              <a href="https://www.columbia.com/tech-insulating/" target="_self">
                <img
                  class="img-fluid d-block mx-auto"
                  src="//columbia.scene7.com/is/image/ColumbiaSportswear2/COL_US_TechHub_LP_InsulationTechIllustration?$aem_png$"
                  alt="Illustration of insulation tech."
                  width="247"
                  height="240"
                >
              </a>
            </div>

            <div class="row justify-content-center">
              <div class="col-12 col-lg-6 align-self-start">
                <div class="fs-2 fw-bold text-white" tabindex="0" role="group">INSULATING</div>

                <div class="fs-6 text-center text-white" tabindex="0" role="group">
                  From synthetic insulation to responsibly sourced down with unique baffling, our innovative designs
                  keep you warmer.
                </div>

                <div>
                  <div class="row justify-content-center">
                    <div class="col-auto">
                      <a href="https://www.columbia.com/tech-insulating/" target="_self" class="bg-white btn">
                        Explore Insulating Tech
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-6 col-md-4 col-lg-2">
            <a
              class="d-flex flex-column align-items-center"
              href="https://www.columbia.com/c/technology-doublewall/"
              target="_self"
            >
              <img
                src="//columbia.scene7.com/is/image/ColumbiaSportswear2/P2_10-01_41711_C_NA_TechHub_DoubleWall_Update_Badge?$aem_png$"
                alt="Double Wall logo"
                width="80"
                height="79"
              >
              <div class="fs-4 py-2">DOUBLE WALL™</div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a
              class="d-flex flex-column align-items-center"
              href="https://www.columbia.com/c/turbodown-down-jackets-vests/"
              target="_self"
            >
              <img
                src="//columbia.scene7.com/is/image/ColumbiaSportswear2/TechHub_TechLogos_Color_0029_TechHub_TD?$aem_png$"
                alt="Turbo Down logo"
                width="80"
                height="79"
              >
              <div class="fs-4 py-2">TURBODOWN™</div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a
              class="d-flex flex-column align-items-center"
              href="https://www.columbia.com/c/technology-thermarator/"
              target="_self"
            >
              <img
                src="//columbia.scene7.com/is/image/ColumbiaSportswear2/TechHub_TechLogos_Color_0009_TechHub_Thermarator?$aem_png$"
                alt="Thermarator logo"
                width="80"
                height="79"
              >
              <div class="fs-4 py-2">THERMARATOR™</div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a
              class="d-flex flex-column align-items-center justify-content-end"
              href="https://www.columbia.com/c/technology-omniheatarctic/"
              target="_self"
            >
              <img
                src="//columbia.scene7.com/is/image/ColumbiaSportswear2/8-01_48635_C_NA_F24_TechHubUpdate_Subpage_Badge_02?$aem_png$"
                alt="Omni-Heat Arctic"
                width="80"
                height="79"
              >
              <div class="fs-4 py-2">OMNI-HEAT™ ARCTIC</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Tech",
  "settings": [],
  "presets": [
    {
      "category": "tech",
      "name": "Tech"
    }
  ]
}
{% endschema %}
